* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
}

body, html {
    font-family: 'Inter', sans-serif;
}

a {
    all: unset;
}

/* typography */

h1 {
    font-size: 2.625rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 0.875rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-image: url('images/1_jfR0trcAPT3udktrFkOebA.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: 999;
    text-shadow: 0 0 30px red;

}

.header-text {
    display: flex;
    flex-direction: column;
    margin: 15vh auto 0;
    justify-content: space-evenly;
    transform: translate(0, -50%);
    padding: 0.5em 1.5em;
    gap: 10px;
    color: white;
    text-shadow: 0 0 5px red;
    background: rgba(100%, 100%, 100%, .3);
    width: fit-content
}

.watchlist-container,
.index-link {
    margin: auto 0;
}

/* Search form */
.search-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    font-size: 1.5rem;
}

.search-input,
.search-submit-btn {
    padding: 0.5rem 2rem;
    line-height: 1.5em;
    border: 1px solid #D1D5DB;
    text-align: center;
    border-radius: 6px;
}

.search-submit-btn {
    margin-left: -0.5rem;
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    padding: 2rem 10vw;
    margin-top: 30vh;
}

.main-placeholder {
    margin-top: 10vh;
    text-align: center;
    color: #DFDDDD;
}

.videotape-img {
    width: 10vh;
    margin-bottom: 10px;
}

.movie {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    margin: 0 auto;
    border-bottom: 1.5px solid #E5E7EB;
}

.poster {
    width: 100px;
    object-fit: contain;
    align-self: center;
}

.movie span {
    font-size: 0.75rem;
}

.about-movie {
    padding: 1rem 0;
}

.movie-info {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.movie-info span,
.watchlist-add-btn,
.watchlist-remove-btn {
    margin: 0 1em 0.5em 0;
}

.watchlist-add-btn,
.watchlist-remove-btn{
    font-size: 0.75rem;
    background-color: transparent;
    border: 0;
}


.watchlist-icon,
.remove-icon {
    height: 1.2em;
    border-radius: 50%;
    vertical-align: text-bottom;
}

.remove-icon {
    filter: grayscale(100%);
}

/* MEDIA */
@media (min-width: 427px) {
    .search-input {
        border-radius: 6px 0 0 6px;
    }
    
    .search-submit-btn {
        border-radius: 0 6px 6px 0;
    }
}
@media (min-width: 480px) {
    html {
        font-size: 1.1rem;
    }
    .search-input,
    .search-submit-btn {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }

    .header-text {
        flex-direction: row;
    }

    .about-movie {
        max-width: 700px;
    }

}

@media (min-width: 1024px) {
    html {
        font-size: 1.4rem;
    }
}